# House Price Study Notebook

## Objectives

*   Answer business requirement 1: 
    * The client is interested in discovering how house attributes correlate with sale prices. Therefore, the client expects data visualizations of the correlated variables against the sale price.

## Inputs

* outputs/datasets/collection/house_prices_records.csv

## Outputs

* generate code that answers business requirement 1 and can be used to build the Streamlit App

---

# Change working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/5th-Project/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/5th-Project'

---

# Load Data

In [4]:
import pandas as pd
df = (pd.read_csv("/workspace/5th-Project/inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/house_prices_records.csv"))
df

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,0.0,548,RFn,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,NaN,460,RFn,...,80.0,0.0,0,8,6,1262,NaN,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,0.0,608,RFn,...,68.0,162.0,42,5,7,920,NaN,2001,2002,223500
3,961,NaN,NaN,No,216,ALQ,540,NaN,642,Unf,...,60.0,0.0,35,5,7,756,NaN,1915,1970,140000
4,1145,NaN,4.0,Av,655,GLQ,490,0.0,836,RFn,...,84.0,350.0,84,5,8,1145,NaN,2000,2000,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,953,694.0,3.0,No,0,Unf,953,NaN,460,RFn,...,62.0,0.0,40,5,6,953,0.0,1999,2000,175000
1456,2073,0.0,NaN,No,790,ALQ,589,NaN,500,Unf,...,85.0,119.0,0,6,6,1542,NaN,1978,1988,210000
1457,1188,1152.0,4.0,No,275,GLQ,877,NaN,252,RFn,...,66.0,0.0,60,9,7,1152,NaN,1941,2006,266500
1458,1078,0.0,2.0,Mn,49,NaN,0,112.0,240,Unf,...,68.0,0.0,0,6,5,1078,NaN,1950,1996,142125
1459,1256,0.0,3.0,No,830,BLQ,136,0.0,276,Fin,...,75.0,0.0,68,6,5,1256,736.0,1965,1965,147500

# Data Exploration

In [5]:
from pandas_profiling import ProfileReport
pandas_report = ProfileReport(df=df, minimal=True)
pandas_report.to_notebook_iframe()

ImportError: cannot import name 'DataError' from 'pandas.core.base' (/workspace/.pyenv_mirror/user/current/lib/python3.11/site-packages/pandas/core/base.py)

# Correlation Study

We map the categorical columns into numerical values, to make further studies easier.

In [ ]:
# Define the mapping for categorical columns
cat_mappings = {
    'BsmtExposure': {'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'None': 0},
    'BsmtFinType1': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'None': 0},
    'GarageFinish': {'Fin': 3, 'RFn': 2, 'Unf': 1, 'None': 0},
    'KitchenQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
}

# Apply mappings to the categorical columns
for column, mapping in cat_mappings.items():
    df[column] = df[column].map(mapping)

Inspect the DataFrame, all values are now integers:

In [ ]:
df.info()

Investigate correlation using Spearman and Pearson method.

(Code borrowed from CI walkthrough project.)

In [6]:
corr_spearman = df.corr(method='spearman')['SalePrice'].sort_values(key=abs, ascending=False)[1:].head(10)
corr_spearman

/tmp/ipykernel_3163/1835576946.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_spearman = df.corr(method='spearman')['SalePrice'].sort_values(key=abs, ascending=False)[1:].head(10)

OverallQual     0.809829
GrLivArea       0.731310
YearBuilt       0.652682
GarageArea      0.649379
TotalBsmtSF     0.602725
GarageYrBlt     0.593788
1stFlrSF        0.575408
YearRemodAdd    0.571159
OpenPorchSF     0.477561
LotArea         0.456461
Name: SalePrice, dtype: float64

In [ ]:
corr_pearson = df.corr(method='pearson')['SalePrice'].sort_values(key=abs, ascending=False)[1:].head(10)
corr_pearson

In [ ]:
top_n = 4
set(corr_pearson[:top_n].index.to_list() + corr_spearman[:top_n].index.to_list())

We plot the distribution on a heatmap to visualize the correlation.

In [ ]:
%matplotlib inline

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Select the top 5 variables with highest correlation with SalePrice
corr = df.corr()
top_corr_features = ['GarageArea', 'GrLivArea', 'KitchenQual', 'OverallQual', 'YearBuilt', 'SalePrice']

# Plot heat map
sns.heatmap(df[top_corr_features].corr(), annot=True, cmap="coolwarm")
plt.title("Correlation of features to SalePrice")
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# select the top 5 variables that are most strongly correlated with SalePrice
top_5_vars = df[['GarageArea', 'GrLivArea', 'KitchenQual', 'OverallQual', 'YearBuilt']]

# create scatterplots showing the relationship between each variable and SalePrice
for var in top_5_vars:
    plt.figure()
    plt.scatter(df[var], df['SalePrice'], alpha=0.5)
    plt.xlabel(var)
    plt.ylabel('SalePrice')
    plt.title(f'{var} vs. SalePrice')
    plt.show()

----

# Conclusions and Next steps

The house attributes that have a high correlation with sale price are, in decending order:
* Overall quality of the house
* Size of ground floor
* Quality of kitchen
* Size of garage
* Newness of house (year built)

Next step is to display these plots on the dashboard in order to answer Business Requirement #1